.features
    .feature
        text-align: center;
    .feature h2
        color: #42b983 !important;

.home
    .hero img{
        width: 215px;
    }

.navbar
    .site-name
        font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
        font-style: italic;
        color: #3eaf7c !important;
    .logo
        margin-right: 0.3rem !important;

.theme-button
    background-color: #2d8cf0;
    color: white;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 2px;
    border: none;
    outline: none;
    user-select: none;
    &:active
        opacity: 0.9;

.swiper-pagination
    .swiper-pagination-bullet
        width: 22px !important;
        height: 3px !important;
        border-radius: 2px !important;
    .swiper-pagination-bullet-active
        background: #3eaf7c !important

.api-event + table tr td:nth-child(1) { white-space: nowrap; }
.api-inteface + table tr td:nth-child(2) { white-space: nowrap; }
.api-inteface + table tr td:nth-child(3) { width:35px; }
.mobile-api + table tr td:nth-child(1) { width: 180px;word-break: break-all; }
.custom-api + table tr td:nth-child(2) { width: 48px; }
.custom-api + table tr td:nth-child(3) { width: 48px; }